/* regole generali */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: avenirnext;
}

@font-face {
  font-family: avenirnext;
  src: url('../Avenir-Next-Font/AvenirNextLTPro-Regular.otf');
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
}
a {
  text-decoration: none;
}
/* header */
header {
  /* height: 300px; */
  /* background-color: red; */
}

/*prima riga che tiene in clearfix (contenitore-a e menu) + (icone) */
.wrapper1 {
  /* height:100px; */
  background-color: #33475b;
}

.wrapper1:after {
  content: "";
  clear: both;
  display: table;
}
/* tiene logocontainer e il menu in clearfix */
.contenitore-a {
  float: left;
  width: 50%;
  /* background-color: lightgreen; */
  /* height:100px; */
  padding-left: 5%;
}

.contenitore-a:after {
  content: "";
  clear: both;
  display: table;
}

.logocontainer {
  width: 10%;
  /* background-color: purple; */
  float: left;
  /* height:100px; */
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 2%;
  height:70px
}

.menu {
  width: 90%;
  float: left;
  /* background-color: red; */
  height:70px;
}

.menu ul {
  list-style-type: none;
}

.menu li {
  display: inline-block;
  text-align: center;
  width: 20%;
  padding-top: 25px;
}

.menu a {
  color: #fff;
  text-decoration: none;
}

.contenitore-b {
  float: left;
  width: 50%;
  padding-right: 5%;
  /* background-color: pink; */
  /* height: 100px; */
}

.contenitore-b:after {
  content: "";
  clear: both;
  display: table;
}

.cerca-imp {
  float: left;
  width: 50%;
  padding-top: 3%;
  /* background-color: violet; */
  /* height: 70px; */
}

.cerca-imp ul {
  padding-left: 80%;

}

.cerca-imp li {
  padding-right: 20%;
}


.prof-gigi {
  float: right;
  width: 50%;
  padding-left: 15%;
  padding-top: 3%;
  /* height: 100px; */
}

.prof-gigi li {
  padding-right: 15%;
}

/* seconda riga */
.wrapper2 {
  /* height:100px; */
  /* background-color: black; */
}

.wrapper2:after {
  content: "";
  clear: both;
  display: table;
}

.contenitore-c {
  float: left;
  width: 50%;
  /* height: 100%; */
  padding-left: 7%;
}

.contenitore-c ul {
  list-style-type: none;
}

.contenitore-c li {
  display: inline-block;
}

.contenitore-d {
  float: right;
  width: 50%;
  padding-left: 20%
  /* height: 100%; */
}

.contenitore-d ul {
  list-style-type: none;
}

.contenitore-d li {
  display: inline-block;
}

.contenitore-d a {
  background-color: #ff7a59;
  padding-left: 2%;
  padding-right: 2%;
  border: solid black 1px;
  display: inline-block;
  color: black;
}

/* terza riga */
.wrapper3 {
  /* height:100px; */
  background-color: lightgrey;
}

.wrapper3:after {
  content: "";
  clear: both;
  display: table;
}

.contenitore-e {
  float: left;
  width: 50%;
  padding-left:7%;
  padding-top: 2%;
}

.contenitore-f {
  float: right;
  width: 50%;
  padding-left: 15%;
}

.contenitore-f ul {
  list-style-type: none;
}

.contenitore-f li {
  display: inline-block;
}

.contenitore-f a {
  text-decoration: none;
}

/* prima banda orizzontale */
.firstrow {
  background-image: url('../img/Sfondo.PNG');
  background-size: contain;
  height: 400px;
}

.mainblock {
  width: 30%;
  padding-left: 7%;
  padding-top: 4%;
}

.mainblock h1 {
  padding-bottom: 3%;
}

.mainblock a {
  background-color: white;
  padding: 8%;
  text-decoration: none;
  color: black;
  border: solid grey 1px;
  border-radius: 3%;
  display: inline-block;
  margin-top: 10%;
}

/* corpo principale della pagina */
.corpo-pagina {
  background-color: lightgrey;
  /* height: 1000px; */
}

.blocco-uno {
  margin-left:10%;
  margin-right:10%;
  background-color: lightgrey;
  /* height:500px; */
}

.powerful {
  /* width: 40%; */
  margin-left: 30%;
  margin-right: 30%;
  /* background-color: blue; */
}

.powerful img {
  width: 180px;
  margin-left: 30%;
  margin-right: 20%;
  margin-top: 5%;
}

.powerful h1 {
  padding-left: 15%;
}

.blocco-uno p {
  padding-top: 2%;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  line-height: 150%;
}

.crm {
  background-color: white;
  /* height: 300px; */
}

.container {
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 3%;
}

.container:after {
  content: "";
  clear: both;
  display: table;
}

.colsx {
  float: left;
  /* background-color: orange; */
  /* margin-left: 5%; */
  padding-top: 10%;
  width: 30%;
  margin-left: 20%;
}

.colsx img {
  width: 50%;
  margin-bottom: 10%;
  /* margin-top: 10%; */
  /* margin-left:5%; */
}

.colsx a {
  background-color: #ff7a59;
  color: white;
  padding: 5%;
  border: solid 1px;
  border-radius: 5%;
  display: inline-block;
  text-decoration: none;
  margin-right: 20%;
  margin-left: 10%;

}

.coldx {
  float: right;
  width: 50%;
  padding: 5%;
  margin-top: 5%;
}

.coldx h4 {
  padding-left: 10%;
}

.coldx p {
  text-align: left;
}

.coldx h5 {
  padding-top: 5%;
  padding-left: 10%;
}

.lista {
  padding-left: 10%;
  padding-top: 5%;
}

.lista ul {
  list-style-type: none;
}

.lista li {
  display: inline-block;
  padding-right: 2%;
}

.lista i {
  color: #ff7a59;
}
